.form{/*estils agafats del bootstrap amb etiqueta input-group-addon. a més, afegits nous estils*/
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    color: darkorange;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    margin: auto;
    position: inherit;
    height: 60%;
    background-image: url('imgs/economia.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
  }
  .fondo{
      background-color: currentColor;
  }
  #response{
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    border-style: double;
}
.input{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 125%;
}
.etiqueta{
    font-size: 17px;
}